
    body {
        background-color:orange;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 500px;
        text-align: left;
        margin: auto;
        display: table;
    }
    .normal {
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
	
