
    body {
        background-color:gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .normal {
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
	
